In [1]:
import numpy as np
from PIL import Image
Image.MAX_IMAGE_PIXELS = None
import time
import shutil
from tqdm import tqdm
import os
import pandas as pd
import cv2

### This will modify the training images only (only the images with annotations, so dataset 1 and 2, or wsi images # 1,2,3,4.

In [8]:
original_image_src = r"\\fatherserverdw\Kevin\hubmap\train"
tile_meta_src = r"\\fatherserverdw\Kevin\hubmap\tile_meta.csv"
annotation_meta_src = r"\\fatherserverdw\Kevin\hubmap\annotation_meta.xlsx"

In [9]:
tile_df = pd.read_csv(tile_meta_src)
tmp_df = pd.read_excel(annotation_meta_src)
supervised_tile_df = tile_df[tile_df["source_wsi"] == 1]
supervised_tile_ids = supervised_tile_df.id.tolist() #list of picture ids that are in dataset 1
supervised_tile_df

                id  source_wsi  dataset      i      j
4     0033bbc76b6b           1        1  10240  43008
16    00656c6f2690           1        1  10240  46080
33    00d75ad65de3           1        1   8192  39424
34    00da70813521           1        1  10240  46592
60    01a7fca6263b           1        2  13312  10240
...            ...         ...      ...    ...    ...
6933  fc6def641612           1        1   7680  40960
6943  fcbe5ce12d5f           1        2   9216   8192
6946  fce9ad75428d           1        2  10240  10240
6951  fd2437954fd8           1        1   5120  39424
6990  fe248458ea89           1        1  10240  44032

[507 rows x 5 columns]